<%= paginate(@articles) %>
<table id="articles">
  <thead>
    <tr>
      <th>メッセージ</th>
      <th>譲</th>
      <th>求</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody class="page">
    <%= render @articles %>
  </tbody>
</table>
<br>

